{% extends '@CurtisTemplate/Layout/base-left-side.html.twig' %}

{% block breadcrumbs %}
    <header class="main-header">
        <div class="container">
            <h1 class="page-title">Témy</h1>

            <ol class="breadcrumb pull-right">
                <li class="active">{{ category.name }}</li>
            </ol>
        </div>
    </header>
{% endblock %}


{% block sidebar %}
    <div class="block animated fadeInDown animation-delay-10">
        <ul class="nav nav-tabs nav-tabs-ar" id="myTab2">
            <li class="active"><a href="#categories" data-toggle="tab"><i class="fa fa-folder-open"></i></a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="categories">
                <h3 class="post-title no-margin-top">Tematické okruhy</h3>
                <ul class="simple">
                    {% for globalCategory in allCategories %}
                        <li>
                            <a href="{{ url('theme-category', {'category': globalCategory.urlKey}) }}">{{ globalCategory.name }}</a>
                            {% if globalCategory.id == category.id %}
                                <ul>
                                    {% for globalTheme in globalCategory.themes %}
                                        <li>
                                            <a href="{{ url('theme-item', {'themeId': globalTheme.id}) }}">
                                                {% if globalTheme.isLocked %}
                                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                                {% endif %}
                                                {{ globalTheme.name }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div> <!-- tab-content -->
    </div>
{% endblock %}

{% block body %}

    {% for innerTheme in category.themes %}
        <article class="post animated fadeInLeft animation-delay-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="post-title"><a href="{{ url('theme-item', {'themeId': innerTheme.id}) }}"
                                              class="transicion">{{ innerTheme.name }}</a></h3>
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="{{ asset('bundles/curtisapp/img/kosihy.jpg') }}" class="img-post img-responsive"
                                 alt="Image">
                        </div>
                        <div class="col-lg-6 post-content">
                            {{ innerTheme.description }}
                        </div>
                    </div>
                </div>
                <div class="panel-footer post-info-b">
                    <div class="row">
                        <div class="col-lg-10 col-md-9 col-sm-8">
                            <i class="fa fa-clock-o"></i> {{ innerTheme.createdAt|date("d.m.Y") }}
                            <!--<i class="fa fa-folder-open"></i> <a href="#">Portfolio</a>, <a href="#">Design</a>.-->
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4">
                            <a href="{{ url('theme-item', {'themeId': innerTheme.id }) }}" class="pull-right">Čítať viac &raquo;</a>
                        </div>
                    </div>
                </div>
            </div>
        </article> <!-- post -->
    {% endfor %}

{% endblock %}