{% extends '@CurtisTemplate/Layout/base-right-side.html.twig' %}


{% block stylesheet %}
    <style>
        [data-editable] iframe,
        [data-editable] image,
        [data-editable] [data-ce-tag=img],
        [data-editable] img,
        [data-editable] video {
            clear: both;
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 100%;
        }

        /* Left align */
        [data-editable] .align-left {
            clear: initial;
            float: left;
            margin-right: 0.5em;
        }

        /* Right align */
        [data-editable] .align-right {
            clear: initial;
            float: right;
            margin-left: 0.5em;
        }

        /* Alignment styles for text in editable regions */
        [data-editable] .text-center {
            text-align: center;
        }

        [data-editable] .text-left {
            text-align: left;
        }

        [data-editable] .text-right {
            text-align: right;
        }
    </style>
{% endblock %}

{% block breadcrumbs %}
    <header class="main-header">
        <div class="container">
            <h1 class="page-title">Lokality</h1>

            {% if is_granted("ROLE_ADMIN") %}
                <a href="{{ path('admin-locality-create-place', {'id': place.region.id}) }}">
                    <span class="icon-ar icon-ar-inverse icon-ar-circle">
                        <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                    </span>
                </a>
                <a href="{{ path('admin-locality-toggle-lock-place', {'id': place.id}) }}">
                    <span class="icon-ar icon-ar-inverse icon-ar-circle">
                        {% if place.isLocked %}
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        {% else %}
                            <i class="fa fa-unlock" aria-hidden="true"></i>
                        {% endif %}
                    </span>
                </a>
            {% endif %}

            <ol class="breadcrumb pull-right">
                <li>
                    <a href="{{ url('locality-state-area', {'stateArea': place.region.stateArea.urlKey }) }}">{{ place.region.stateArea.name }}</a>
                </li>
                <li>
                    <a href="{{ url('locality-region', {'regionId': place.region.id }) }}">{{ place.region.name }}</a>
                </li>
                <li class="active">{{ place.name|raw }}</li>
            </ol>
        </div>
    </header>
{% endblock %}


{% block body %}
    <section>
        <div data-editable data-name="name">
            <h2 class="page-header no-margin-top">{{ place.name }}</h2>
        </div>

        <div data-editable data-name="text">
            {{ place.text|raw }}
        </div>
    </section>
{% endblock %}

{% block sidebar %}
    <div class="block animated fadeInDown animation-delay-10">
        <ul class="nav nav-tabs nav-tabs-ar" id="myTab2">
            <li class="active"><a href="#categories" data-toggle="tab"><i class="fa fa-folder-open"></i></a></li>
            {#<li><a href="#tags" data-toggle="tab"><i class="fa fa-tags"></i></a></li>#}
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="categories">
                <h3 class="post-title no-margin-top">Stolice (Župy)</h3>
                <ul class="simple">
                    {% for globalRegion in place.region.stateArea.regions %}
                        <li>
                            <a href="{{ url('locality-region', {'regionId': globalRegion.id }) }}">{{ globalRegion.name }}</a>
                            {% if globalRegion.id == place.region.id %}
                                <ul>
                                    {% for globalPlace in globalRegion.places %}
                                        <li>
                                            <a {% if globalPlace.id == place.id %}class="active"{% endif %}
                                               href="{{ url('locality-place', {'id': globalPlace.id}) }}">
                                                {% if globalPlace.id == place.id %}
                                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                {% endif %}
                                                {% if globalPlace.isLocked %}
                                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                                {% endif %}
                                                {{ globalPlace.name|raw }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>

            {#<div class="tab-pane" id="tags">#}
            {#<h3 class="post-title">Tags</h3>#}
            {#<div class="tags-cloud">#}
            {#<a href="#" class="tag">Web</a>#}
            {#<a href="#" class="tag">Artificial Intelligence</a>#}
            {#<a href="#" class="tag">Programing</a>#}
            {#<a href="#" class="tag">Design</a>#}
            {#<a href="#" class="tag">3D</a>#}
            {#<a href="#" class="tag">Games</a>#}
            {#<a href="#" class="tag">Resources</a>#}
            {#<a href="#" class="tag">2D</a>#}
            {#<a href="#" class="tag">C++</a>#}
            {#<a href="#" class="tag">Jquery</a>#}
            {#<a href="#" class="tag">Javascript</a>#}
            {#<a href="#" class="tag">Library</a>#}
            {#<a href="#" class="tag">Windows</a>#}
            {#<a href="#" class="tag">Linux</a>#}
            {#<a href="#" class="tag">Cloud</a>#}
            {#<a href="#" class="tag">Game developer</a>#}
            {#<a href="#" class="tag">Server</a>#}
            {#<a href="#" class="tag">Google</a>#}
            {#<a href="#" class="tag">Bootstrap</a>#}
            {#<a href="#" class="tag">Less</a>#}
            {#<a href="#" class="tag">Sass</a>#}
            {#<a href="#" class="tag">Engine</a>#}
            {#<a href="#" class="tag">Node.js</a>#}
            {#</div>#}
            {#</div>#}
        </div> <!-- tab-content -->
    </div>
{% endblock %}
{% block javascript %}
    {% if is_granted("ROLE_ADMIN") %}
        <script type="text/javascript">
            editUrl = "{{ path('admin-locality-place-update', {'placeId': place.id }) }}";
        </script>
        <script type="text/javascript" src="{{ asset('bundles/curtistemplate/js/editor/editor-place.js') }}"></script>
    {% endif %}
{% endblock %}